{% extends 'indice1/index.html' %}

{% block Formulario %}   

<a href= {% url 'estudiantesList' %} >Volver</a>

<h3>
  Agregar un estudiante
</h3>

{% if formulario_estudiante.errors %}  
<p style="color: red,"> Estan mal los datos, Revisar</p>
{% endif %}

  <form action="" method="POST"> 

      {% csrf_token %}
      <table>
          {{formulario_estudiante.as_table}}
      </table>
      
      <input type="submit" value="Agregar">
  </form>
{% endblock Formulario %}


{% block Vacio %}
{% endblock Vacio %}