{% extends 'indice1/index.html' %}


{% block Formulario %}   
    <h1>
        Hola :) 
        Me llamo Augusto Gutierrez y soy un Tecnico Electronico. Comence a estudiar programacion porque desde chico me gusto crear cosas, 
        actualmente deseo ser un python developer profesional, me gusta la Inteligencia Artificial, las bases de datos en la nube y la blockchain
        cree este proyecto como la intencio de que sea el blog de una academia como CoderHouse. Esta Basica pero seguire mejorandola :) 
    </h1>
{% endblock Formulario %}


{% block Vacio %}
{% endblock Vacio %}